{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="">
        <div class="alert alert-warning" role="{{ message.tags }}">
          {{ message }}
        </div>
      </div>
    {%  endfor %}
  {% endif %}
  <form class="" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class=form-group"">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
      <label for="">Tipo de documento:</label>
      <select id="tipo_documento" class="" name="tipo_documento">
        <option value="">Tipo de documento</option>
        {% for tp in tipo_documentos %}
          <option value="{{tp}}">{{ tp }}</option>
        {% endfor %}
      </select>
    </div>
    {{ form.as_p }}
    <button type="submit" name="button" class="btn btn-primary">Crear</button>
  </form>


</div>
{% endblock %}
