{% extends 'base.html' %}

{% block javascript %}
  <script>
$(document).ready(function(){

  $("#archivos").change(function(){
    $("#submit").removeAttr('disabled')
  })
  $('#tipo_documento').change(function(){
    var select_anio = $('#select-anio')
    var select_institucion = $('#select-institucion')
    var tipo_documento = $('#tipo_documento')
    var sel_url = $("#carga-doc-form").attr('data-url')
    select_anio.removeAttr("disabled");
    $.ajax({
      url:sel_url,
      //type:'get',
      data: {
        'tipo_documento':tipo_documento.val(),
        // 'select_anio':select_anio.val(),
      },
      //dataType:'json',
      success: function(data){
        console.log(data.select_anios)
        select_anio.html(data.select_anios)
        select_institucion.html(data.select_institucion)
      }
    });

    if ($('#tipo_documento option:selected').val() == "Oficios"){
      $(".grupo-oficio").removeAttr('hidden');
      $(".oficio-files").removeAttr('hidden');
      $("#oficios").removeAttr('hidden');
      $("#anios").removeAttr('hidden');
      $("#label-oficios-anios").html("Anio:")
      $("#label-oficios-institucion").html("Institucion:")
    } else if ($('#tipo_documento option:selected').val() != "Oficios"){
      $(".grupo-oficio").attr('hidden',true);
      //$(".oficio-files").attr('hidden',true);
      $(".comprobante-files").removeAttr('hidden');
      $("#anios").removeAttr('hidden');
      $("#descripcion").removeAttr('required');
      $("#oficios").attr('hidden',true);
      $("#label-oficios-institucion").html("Anio:")
    }
  });
  $('#select-anio').change(function(){
    var select_anio = $('#select-anio')
    var select_institucion = $('#select-institucion')
    var tipo_documento = $('#tipo_documento')
    var sel_url = $("#carga-doc-form").attr('data-url')
    $.ajax({
      url:sel_url,
      //type:'get',
      data: {
        'tipo_documento':tipo_documento.val(),
        'select_anio':select_anio.val(),
      },
      //dataType:'json',
      success: function(data){
        select_institucion.html(data.select_institucion)
      }
    });

  });
  //   var anio = $('#anio')
  //   var sel = $('#anio option:selected').attr('data-url');
  //   console.log(sel)
  //
  //   $.ajax({
  //     url: sel,
  //     type:'get',
  //     dataType:'json',
  //     beforeSend: function(){
  //
  //            $("#modal-example").modal('show');
  //            console.log($("#modal-delete").html())
  //          },
  //     success: function(data){
  //       console.log(data.html_data)
  //       $('#modal-example .modal-content').html(data.html_data)
  //     }
  //   });
  // })
  // $('#modal-example').on('submit', '.delete-form', function(){
  //
  //   var form_url = $(this).attr('data-url');
  //   var form_type = $(this).attr('method');
  //   var form = $(this);
  //   console.log($(this).attr('method'));
  //   $.ajax({
  //     url: form_url,
  //     type:form_type,
  //     data: form.serialize(),
  //     dataType:'json',
  //     success: function(data){
  //       if(data.form_valid){
  //         $('#anio').html(data.carpeta_lista)
  //         $("#modal-example").modal('hide');
  //         console.log(data.carpeta_lista)
  //         console.log($('#anio'))
  //
  //       }else{
  //         $('#modal-delete .modal-content').html(data.html_data)
  //       }
  //
  //     }
  //   });
  //   return false;
  // });
});

  </script>
{% endblock %}


{% block content %}
<div class="container">

  {% if messages %}
    {% for message in messages %}
      <div class="">
        <div class="alert alert-warning" role="{{ message.tags }}">
          {{ message }}
        </div>
      </div>
    {%  endfor %}
  {% endif %}

{% if files_error %}
  {% for error in files_error %}
  <div class="">
    <p>{{error}}</p>
  </div>
  {% endfor %}
{% endif %}

  <form id="carga-doc-form" class="" action="" method="post" enctype="multipart/form-data" data-url="{% url 'cargar:ajax_cargar' %}">
    <div class="form-row justify-content-center">
      <div class="form-group col-sm-3">
        <label for="">Tipo de documento:</label>
        <select id="tipo_documento" class="form-control" name="tipo_documento">
          <option value="">Tipo de documento</option>
          {% for tp in tipo_documentos %}
            <option value="{{tp}}">{{ tp }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-sm-3" id="anios" hidden>
          <label id="label-oficios-institucion" for="">Anio:</label>
          <select id="select-anio" class="form-control" name="anio" disabled>
            {% include 'cargar/select_anio.html' with anios=anios %}
          </select>
          {% if perms.cargar.delete_comprobantes %}
          <small><u class="text-primary"><a href="{% url 'cargar:carpeta' %}" class="text-primary">Crear carpeta</a></u></small>
          {% endif %}
      </div>
      <div class="form-group col-sm-2" id="oficios" hidden>
          <label id="label-oficios-anios" for="">Institucion:</label>
          <select id="select-institucion" class="form-control" name="institucion">
            {% include 'cargar/select_institucion.html' with instituciones=instituciones %}
          </select>
          {% if perms.cargar.delete_comprobantes %}
          <small><u class="text-primary"><a href="{% url 'cargar:carpeta_oficio' %}" class="text-primary">Crear carpeta</a></u></small>
          {% endif %}
      </div>
    </div>

  <div class="grupo-oficio form-row justify-content-center" hidden=true>
    <!-- <div class="form-group col-sm-5">
        <label for="">Anio:</label>
        <select id="select-anio" class="form-control" name="anio" disabled>
          {% include 'cargar/select_anio.html' with anios=anios %}
        </select>
        {% if perms.cargar.delete_comprobantes %}
        <small><u class="text-primary"><a href="{% url 'cargar:carpeta' %}" class="text-primary">Crear carpeta</a></u></small>
        {% endif %}
    </div> -->
    <div class="form-group col-sm-2">
        <label for="">Entrante o saliente:</label>
        <select id="select-entrante" class="form-control" name="entrante">
          <option value="">Seleccione</option>
          <option value="True">Oficio Entrante</option>
          <option value="False">Oficio Saliente</option>
        </select>
    </div>
    <div class="form-group col-sm-3">
        <label for="">En respuesta a oficio:</label>
        <input id="respuesta" class="form-control" name="respuesta">
    </div>
    <div class="form-group col-sm-3">
        <label for="">Descripcion:</label>
        <textarea id="descripcion" class="form-control" name="descripcion" rows="3" required></textarea>
    </div>

  </div>


      {% csrf_token %}
      <!-- <div class="form-group col-sm-5 comprobante-files" hidden>
          <label for="">{{ form.comprobante.label }}:</label>
          <div id="" class="form-control">
              {{ form.comprobante }}
          </div>
      </div> -->
      <div class="form-row justify-content-center">
        <div class="form-group col-sm-3 oficio-files">
            <label for="">Archivo:</label>
            <div id="archivos" class="form-control">
                <input type="file" name="archivos" value="" multiple="true">
            </div>
        </div>
      </div>


      <div class="form-row justify-content-center">
          <button  disabled id="submit" type="submit" name="button" class="btn btn-primary col-2">Cargar</button>
      </div>

  </form>
  <hr>

</div>
{% endblock %}
