<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="css/master.css"> -->
    <style media="screen">
            </style>


    <title>Hello, world!</title>
  </head>
  <body style="width: 200px; margin: auto; font-size:11px;">
    <div class="w-50 container text-center pt-2">
      <h2 style="text-align:center;" class="py-2">Hello, world!</h2>
      <div class="row justify-content-around py-0 my-0">
        <p style="float: left; width: 50%; text-align: center;" class="col-2 py-0 my-0 dato">1700000000001</p>
        <p style="float: left; width: 50%; text-align: center;" class="col-3 py-0 my-0 dato">02-374-0444</p>
      </div>

      <p style="width: 65%; margin: auto; text-align: center;" class="py-0 my-0 center">Km 4 via Quevedo, Santo Domingo</p>
      <p style="width: 50%; margin: auto; text-align: center;" class="py-0 my-0 center">lua.com.ec</p>
<hr class="pb-0 mb-0">
      <div class="row justify-content-around py-0 my-0">
        <p style=" width: 75%; text-align: left; padding-bottom:0" class="col-4 py-0 my-0 dato">{{name}}</p>
        <p style=" width: 70%; text-align: left; padding-bottom:0" class="col-3 py-0 my-0 dato">RUC: 1234567890</p>
      
        <p style="width: 80%;  text-align: left; padding-bottom:0" class="py-0 my-0 center">correo@correo.com</p>
      </div>
<hr class="pb-0 mb-0">
        <p style="float: left; width: 50%; text-align: center;" class="col-3 pb-0 mb-0 dato"><small>PLU-0001</small></p>
        <p style="float: left; width: 50%; text-align: center;" class="col-3 pb-0 mb-0 dato"><small>200000 KM</small></p>
     
    <table style="width: 100%; text-align: center; border-top: 1px solid black;" class="table">
      <thead>
        <tr>
          <th scope="col-1">#</th>
          <th scope="col">Prod</th>
          <th scope="col">Cnt</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Super EP</td>
          <td>3.54321</td>
          <td>2.93</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Extra EP</td>
          <td>1.98765</td>
          <td>2.00</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Aditivo</td>
          <td>1</td>
          <td>3.80</td>
        </tr>
        <tr class="py-0 my-0">
          <td></td>
          <td></td>
          <td style="border-top: 1px solid #CCC;" class="fin-factura">Subtotal</td>
          <td style="border-top: 1px solid #CCC;" class="fin-factura">5.00</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="border-top: 1px solid #CCC;" class="fin-factura">Descuento</td>
          <td style="border-top: 1px solid #CCC;" class="fin-factura">5.00</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="border-top: 1px solid #CCC;" class="fin-factura">IVA</td>
          <td style="border-top: 1px solid #CCC;" class="fin-factura">5.00</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="border-top: 1px solid #CCC;" class="fin-factura">Total</td>
          <td style="border-top: 1px solid #CCC;" class="fin-factura">5.00</td>
        </tr>
      </tbody>
    </table>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  </body>
</html>

